{{ if eq .setup_bitwarden "y" -}}
#!/bin/bash
set -euo pipefail

read -p 'Enter bitwarden email: ' bitwarden_email
bw login "${bitwarden_email}" || true

bw_session=$(bw unlock | grep "BW_SESSION=" | head -n1 | cut -f2 -d\")

export BW_SESSION="${bw_session}"

gpg_item_id=$(bw list items --search gpg | jq -r '.[0].id')
gpg_attachments=$(bw list items --search gpg | jq -r '.[0].attachments[].id')

for gpg_attachment in ${gpg_attachments}; do
    echo "-> reading bitwarden attachment '${gpg_attachment}' for '${gpg_item_id}'"
    filepath=$(bw get attachment "${gpg_attachment}" --itemid "${gpg_item_id}" --raw)
    contents=$(cat "${filepath}")

    if echo "${contents}" | grep "BEGIN PGP PRIVATE KEY BLOCK" > /dev/null; then
        echo "${contents}" | gpg --allow-secret-key-import --import -
    fi
        
    if echo "${contents}" | grep "BEGIN PGP PUBLIC KEY BLOCK" > /dev/null; then
        echo "${contents}" | gpg --import -
    fi

    rm "${filepath}"
done

# git signing key
signing_key=$(gpg --list-secret-keys --keyid-format LONG | grep sec | cut -f2 -d/ | cut -f1 -d" ")
sed -i "s/signingkey_replaceme/${signing_key}/g" "${HOME}/.config/chezmoi/chezmoi.toml"
sed -i "s/signingkey_replaceme/${signing_key}/g" "${HOME}/.gitconfig"
echo "-> configured git signing key as ${signing_key}."

{{ end }}
