{{ if eq .setup_laptop "y" -}}
#!/bin/bash
set -euo pipefail

cat << EOF | sudo tee /usr/local/bin/powersave
#!/bin/bash
set -euo pipefail

/usr/bin/cpupower --cpu all frequency-set -g powersave
/usr/sbin/powertop --auto-tune
EOF
sudo chmod 0700 /usr/local/bin/powersave
sudo chmod +x /usr/local/bin/powersave

cat << EOF | sudo tee /etc/systemd/system/powersave.service
[Unit]
Description=CPU powersave

[Service]
Type=oneshot
ExecStart=/usr/local/bin/powersave

[Install]
WantedBy=multi-user.target
EOF

sudo systemctl daemon-reload
sudo systemctl enable powersave
sudo systemctl start powersave
{{ end -}}
