{{ if eq .setup_asdfvm "y" -}}
#!/bin/bash
set -euo pipefail

install_dir="${HOME}/.asdf"
if [ ! -d "${install_dir}" ]; then
    git clone --depth=1 https://github.com/asdf-vm/asdf.git ~/.asdf
fi
{{ end -}}
