{{ if eq .setup_asdfvm "y" -}}
{{ template "common.tmpl.sh" }}

install_dir="${HOME}/.asdf"
if [ ! -d "${install_dir}" ]; then
  log::info "Installing ASDF-VM."
  git clone --depth=1 https://github.com/asdf-vm/asdf.git ~/.asdf
  export PATH="${install_dir}/bin:$PATH"
  log::success "Installed ASDF-VM."
else
  log::info "Updating ASDF-VM."
  asdf update
  log::success "Updated ASDF-VM."
fi

plugins=(
  "awscli,latest"
  "bitwarden,v1.22.1"
  "erlang,none"
  "gcloud,latest"
  "golang,latest"
  "helm,latest"
  "jq,latest"
  "k3d,latest"
  "kind,none"
  "kubectl,latest"
  "kustomize,latest"
  "minikube,none"
  "mitmproxy,latest"
  "nodejs,none"
  "python,none"
  "ruby,none"
  "rust,none"
  "shellcheck,latest"
  "stern,latest"
  "terraform,none"
  "yq,latest"
)

for plugin in "${plugins[@]}"; do
  name="$(echo "$plugin" | cut -f1 -d,)"
  version="$(echo "$plugin" | cut -f2 -d,)"

  if ! asdf plugin-list | grep "$name" > /dev/null; then
    log::info "Adding ASDF-VM plugin '$name'."
    asdf plugin-add "$name"
    log::success "Added ASDF-VM plugin '$name'."
  else
    log::info "ASDF-VM plugin '$name' already exists."
  fi

  if [[ "$version" != "none" ]]; then
    asdf install "$name" "$version"
    asdf global "$name" "$version"
  fi
done

log::info "Updating ASDF-VM plugins."
asdf plugin-update --all
log::success "Updated ASDF-VM plugins."
{{ end -}}
