{{ if eq .chezmoi.os "linux" -}}
{{ template "common.tmpl.sh" }}

if [ -n "${HOME:-}" ]; then
  log::info "Ensuring '\$HOME/.local/bin'."
  mkdir -p "${HOME}/.local/bin"
  log::success "Ensured '\$HOME/.local/bin'."

else
  log::warn \
    "'\$HOME' is not set, skipping the creation of '\$HOME/.local/bin'."
fi

{{ if eq .chezmoi.osRelease.id "ubuntu" }}
  log::info "Installing base packages."
  sudo apt-get install -y \
    vim \
    curl \
    htop \
    iotop \
    nmap \
    colordiff \
    git \
    build-essential \
    zsh \
    netcat

  log::success "Installed base packages."

  log::info "Setting ZSH as default shell."
  sudo chsh -s "$(which zsh)" "$(whoami)"
  log::success "Set ZSH as default shell."

{{ end }}

{{ end -}}
